services:
  devcontainer:
    image: "mcr.microsoft.com/devcontainers/typescript-node:24-trixie"
    restart: "unless-stopped"
    command: "sleep infinity"
    networks:
      - "authentik"
      - "postgres"
    volumes:
      - "../..:/workspaces:cached"

  authentik-server: &authentik-server
    image: "ghcr.io/goauthentik/server:2025.10.2"
    restart: "unless-stopped"
    command: "server"
    environment:
      AUTHENTIK_POSTGRESQL__HOST: "postgres"
      AUTHENTIK_POSTGRESQL__NAME: "authentik"
      AUTHENTIK_POSTGRESQL__USER: "dev"
      AUTHENTIK_POSTGRESQL__PASSWORD: "dev"
      AUTHENTIK_SECRET_KEY: "f96da7dd2b689782"
      # Password still needs to meet complexity requirements
      # User is 'akadmin'
      AUTHENTIK_BOOTSTRAP_PASSWORD: "6485b75ef3671906"
      AUTHENTIK_BOOTSTRAP_TOKEN: "398829673032ee4b"
    networks:
      - "authentik"
      - "postgres"
    depends_on:
      postgres:
        condition: "service_healthy"

  authentik-worker:
    <<: *authentik-server
    command: "worker"
    user: root

  postgres:
    image: "docker.io/library/postgres:18-alpine"
    restart: "unless-stopped"
    environment:
      POSTGRES_USER: "dev"
      POSTGRES_PASSWORD: "dev"
      POSTGRES_DB: "postgres"
    networks:
      - "postgres"
    volumes:
      - "./init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh:ro"
    healthcheck:
      interval: "30s"
      retries: 5
      start_period: "20s"
      test:
        - "CMD-SHELL"
        - "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"
      timeout: "5s"

networks:
  authentik:
  postgres:
